@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;

}

h2, span, h3{
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Oswald', sans-serif;
}


.image-decoration {
	position: relative;
	width: 85%;
	height: 85%;
}
.image-decoration::after {
	content: '';
	height: 100%;
	width: 100%;
	left: 3%;
	top: 3%;
	border: solid 5px #0A47C9;
	position: absolute;
	z-index: 1;
	transition: all 0.6s ease;
}

@media (max-width: 767px) {
	.image-decoration{
		width: 60%;
		height: 60%;
	}
  }

  @media (max-width: 567px) {
	.image-decoration{
		width: 80%;
		height: 80%;
	}
  }
.image-decoration img {
	right: 2%;
	bottom: 2%;
	transition: all 0.6s ease;

}
.image-decoration:hover::after{
	left: 1%;
	top: 1%;
}

.image-decoration:hover.image-decoration img {
	transform: translate(1%, 1%);
}



.react-slideshow-wrapper.slide,.images-wrap{
	height: 100%;
	position: relative;

}
.images-wrap div{
	height: 100%;
}

.sliderClass{
	height: 400px !important;
}




  .indicators {
	cursor: pointer;
	text-align: center;
	margin: 0;
	
  }
  .react-slideshow-container+ul.indicators{
	cursor: pointer;
	text-align: center;
	margin: 0;
	transform: translateY(-15px);
	color: white;
  }
  .react-slideshow-container+ul.indicators .each-slideshow-indicator:before{
	background: white !important;
  }








/*
*Vertical align
*
*/

.text-v {
  width:20px;
  word-wrap: break-word;
  text-align:center;
}

/*
*NAV
*/


.navLink{
	position: relative;
	color:#454545;
}

.navLink::before{
content: '';
width: 0%;
height: 1px;
background-color: #FF0C0C;
position: absolute;
bottom: -5px;
left: 0;
transition: all .5s ease-in-out;
}

.navLink:hover::before{
	width: 100%;

}

.title{
	position: relative;
	z-index: 100;
}
.title::after{
	content: '';
	position: absolute;
	width: 28%;
	height: 30%;
	background-color: #b0c9ff;
	z-index: -1;
	bottom: 5px;
  left: 0;
}


/*
*Img box shadow
*/


.imgShadow{
	box-shadow: 5px -1px 57px 20px rgba(255,114,12,0.3);
-webkit-box-shadow: 5px -1px 57px 20px rgba(255,114,12,0.3);
-moz-box-shadow: 5px -1px 57px 20px rgba(255,114,12,0.3);
}
.img-form2{
	border-radius: 44% 56% 30% 70% / 57% 79% 21% 43% ;
	position:relative;
	background-color:none;
	width:100%;
	height:450px;

}

.img-form{
	border-radius: 44% 56% 30% 70% / 57% 79% 21% 43% ;
	position:relative;
	background-color:none;
	width:85%;
	height:450px;
	transform:scale(.95)
	}
	.img-form3{
		border-radius: 44% 56% 30% 70% / 57% 79% 21% 43% ;
		background-color:none;
		width:85% !important;
		height:450px;
		}
	@media (max-width: 1024px) {
		.img-form,.img-form3{
			width:60%;
			height:auto;
			}
			
			.img-form2{
			height:auto;
			}
	  }

	  @media (max-width: 700px) {
		.img-form,.img-form3{
			width:80%;
			height:auto;
			}
			
			.img-form2{
			height:auto;
			}
	  }
	  @media (max-width: 400px) {
		.img-form,.img-form3{
			width:90%;
			height:auto;
			}
			.img-form2{
			height:auto;
			}
	  }

	/* .img-form::after{
	transform:rotate(-14deg);
	border-radius:  44% 56% 30% 70% / 57% 79% 21% 43%;
	content:'';
	width:100%;
	height:100%;
	background-color:red;
	position:absolute;
	z-index:7;
	top:10px;
	
	} */


	@keyframes morph {
		0% {
				  border-radius:  44% 56% 30% 70% / 57% 79% 21% 43%;
		  } 
		  
		  50% {
				  border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
		  }
		
		  100% {
			border-radius:  44% 56% 30% 70% / 57% 79% 21% 43%;
		  } 
	  }
	  

.ra{
	background-image: radial-gradient(#bebebe 1px, transparent 1px);
background-size: 32px 32px;
background-color: #fff7f2;
}

.spinner {
	width: 76px;
	height: 76px;
	border-radius: 50%;
	border: 9px solid #ffffff;
	animation: spinner-bulqg1 1.5s infinite linear alternate,
		 spinner-oaa3wk 3s infinite linear;
 }
 
 @keyframes spinner-bulqg1 {
	0% {
	   clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
	}
 
	12.5% {
	   clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
	}
 
	25% {
	   clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
	}
 
	50% {
	   clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
	}
 
	62.5% {
	   clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
	}
 
	75% {
	   clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
	}
 
	100% {
	   clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
	}
 }
 
 @keyframes spinner-oaa3wk {
	0% {
	   transform: scaleY(1) rotate(0deg);
	}
 
	49.99% {
	   transform: scaleY(1) rotate(135deg);
	}
 
	50% {
	   transform: scaleY(-1) rotate(0deg);
	}
 
	100% {
	   transform: scaleY(-1) rotate(-135deg);
	}
 }



 .sidebar{
    transition:all .5s cubic-bezier(.86,0,.07,1),background-color .3s;

 }





 /*
 *SCROLLBAR
 */

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #dbdbdb;
  }

  *::-webkit-scrollbar-thumb {
    background: rgb(255,114,12);
background: linear-gradient(180deg, rgba(255,114,12,1) 0%, rgba(255,12,12,1) 100%);
    border-radius: 10px;
    border: .2px solid #c0c0c0;
  }

